body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #cdd2dd, #243b55);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: #0f5a0cfa;
    padding: 30px;
    border-radius: 10px;
    width: 320px;
    text-align: center;
}

.form-box h2 {
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: black;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0a3768;
}

span {
    color: #007bff;
    cursor: pointer;
}
